{% extends "index.html" %}

{% block main %}

<div class="container-fluid">
  <h1 class="mt-4">{{object.title}}</h1>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Candidatos</li>
  </ol>
  <form class="" method="post">
  {% csrf_token %}
  <div class="row">
      <!--/Voto a Candidatos-->
      {% for candidato in object.candidato_set.all %}
      <div class="col-xl-4">
        <div class="card mb-4">
          <div class="card-header text-center"><b>{{candidato.candidato_elector}}</b></div>
          <div class="card-body">
            <ul>
              <li>Candidato: {{candidato}}</li>
            </ul>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-primary" type="submit" name="button" value={{candidato.id}}>
              <b>VOTAR</b>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--/Voto a Candidatos-->
      <!--Voto en Blanco-->
      <div class="col-xl-4">
        <div class="card mb-4">
          <div class="card-header text-center"><b>VOTAR EN BLANCO</b></div>
          <div class="card-body">
            <ul>
              <li>BLANCO</li>
            </ul>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-primary" type="submit" name="button" value="0">
              <b>VOTAR</b>
            </button>
          </div>
        </div>
      </div>
      <!--/Voto en Blanco-->
  </div>
  </form>

</div>

{% endblock %}
