{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block main %}
<div class="container-fluid">
  <h1 class="mt-4">Bienvenido {{user}}</h1>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Elecciones</li>
  </ol>
  <!--Proximas elecciones-->
  {% if upcoming_elecciones %}
  <div class="row">
    <h3 class="mt-4">Proximas elecciones:</h3>
  </div>
  <div class="row-fluid">
    <div class="list-group">
    {% for upcoming in upcoming_elecciones %}
      <li class="list-group-item d-flex justify-content-between">
        <a href={% url 'votacion:votacion' upcoming.slug %}><b>{{upcoming}}</b></a>
        <a class="btn btn-primary" href={% url 'votacion:votacion' upcoming.slug %}>Ver Candidatos</a>
      </li>
    {% endfor %}
    </div>

  </div>
  {% endif %}
  <!-- ./Proximas elecciones-->
  <!--Elecciones en curso-->
  {% if current_elecciones %}
  <div class="row">
    <h3 class="h3 mt-4">Elecciones en Curso:</h3>
  </div>
  <div class="row-fluid">
    <div class="list-group">
      {% for current in current_elecciones %}
        <li class="list-group-item d-flex justify-content-between">
        <a href={% url 'votacion:votacion' current.slug %}><b>{{current}}</b></a>
        <a class="btn btn-primary" href={% url 'votacion:votacion' current.slug %}>Votar</a>
      </li>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <!-- ./Elecciones en curso-->
</div>
<!-- /container-fluid -->
{% endblock %}
{% block script_dataTable %}
<script type="text/javascript">
  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    var tabla1 = iniciarDataTable('data1');
    var tabla2 = iniciarDataTable('data2');
    var tabla3 = iniciarDataTable('data3');
    $("#eleccion-list a").on("click", function(e) {
      e.preventDefault();
      $(this).tab("show");
      var referencia = $(event.target).attr("href");
      if (referencia == "#pasadas")
        tabla1.columns.adjust();
      if (referencia == "#pendientes")
        tabla2.columns.adjust();
      if (referencia == "#programadas")
        tabla3.columns.adjust();
    });
  });
  // https://es.stackoverflow.com/questions/144360/datatables-en-tabs-dinamicas-se-inicializan-mal
  function iniciarDataTable(id) {
    var table = $('#' + id).DataTable({
      "scrollY": "400px",
      "scrollCollapse": true,
      "paging": false,
      scrollX: true,
    });
    return table;
  };
</script>
{% endblock %}
