{% extends "base.html" %}
{% load static %}
{% block head %}
  {% include "core/snippets/datatable_files.html" %}
{% endblock %}

{% comment %} content {% endcomment %}
{% block content %}
<div class="container-fluid bg-light">
{% include "core/snippets/new-act-deact.html" with create='create-user' list_url='core:elector-list'%}
{% if object_list  %}
  <div class="row">
    <div class="col-md-2 well"></div>
    <div class="col-md-8 well">{% include "core/snippets/elector_table.html" %}</div>
    <div class="col-md-2 well"></div>
  </div>

{% else %}
  {% include "core/snippets/no_objetc_list.html" %}
{% endif %}
</div>
{% endblock %}
{% comment %} END CONTENIDO {% endcomment %}

{% block javascript %}
  {% include "core/snippets/datatable_script.html" %}
{% endblock %}
