{% extends "base.html" %}

{% comment %} content {% endcomment %}
{% block content %}
{% include "core/snippets/new-act-deact.html" with create='core:create-padron' list_url='core:padron-list'%}
<div class="row">
  <div class="col-md-4 well"></div>
  <div class="col-md-4 well">
  {% if object_list  %}
    {% for obj in object_list  %}
    <ul class="list-group">
      <li class="list-group-item">
        <a href={% url 'core:padron-detail' obj.id %}>{{obj}}</a>
        <br><a class="btn btn-warning" href={% url 'core:edit-padron' obj.id %}>Editar</a>
        {% if obj.active %}
          <a class="btn btn-danger" href="#">Desactivar</a>
        {% else %}
          <a class="btn btn-success" href="#">Activar</a>
        {% endif %}
      </li>
    </ul>
    {% endfor %}
  {% else %}
    {% include "core/snippets/no_objetc_list.html" %}
  {% endif %}
  </div>
</div>
{% endblock %}
