<table class="table table-bordered bg-primary text-light " id="data">
  <thead>
    <tr>
      <th>Cargo</th>
      <th>Description</th>
      <th>Estado</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody class="text-dark">
    {% for cargo in object_list %}
      <tr>
        <td>{{cargo.name}}</td>
        <td>{{cargo.description}}</td>
        <td>{{cargo.active}}</td>
        {% if cargo.active %}
        <td>
          <div class="btn-group" >
            <a href={% url 'core:edit-cargo' cargo.id %} class="btn btn-warning">Editar</button>
            <a class="btn btn-danger" href={% url 'core:deactive_cargo' cargo.id %} name="deactive">Desactivar</a>
          </div>
        </td>
        {% else %}
        <td>INACTIVO</td>
        <td>
          <a class="btn btn-success" href={% url 'core:active_cargo' cargo.id %} name="active">Activar</a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
