<table class="table table-bordered" id="data" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>DNI</th>
      <th>Nombre/s</th>
      <th>Apellido/s</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for elector in object_list %}
      <tr>
        <th>{{elector.dni}}</td>
        <th>{{elector.names}}</td>
        <th>{{elector.surnames}}</td>
        <td>
          <!-- If record is active -->
          {% if elector.active %}
          <div class="btn-group" >
            <a href={% url 'core:edit-elector' elector.id %} class="btn btn-warning"> Editar </button>
            <a class="btn btn-danger" href={% url 'core:deactive_elector' elector.id %} name="deactive">Desactivar</a>
          </div>
          {% else %}
            <a class="btn btn-success" href={% url 'core:active_elector' elector.id %} name="active">Activar</a>
          {% endif %}
        </td>

      </tr>
    {% endfor %}
  </tbody>
</table>
