<table class="table bg-primary text-light" id="data">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Fecha</th>
      <th>Inicio</th>
      <th>Cierre</th>
      <th>Estado</th>
      <th>Padron</th>
      <th>Cargo</th>
    </tr>
  </thead>
  <tbody class="text-dark">
    <!-- Loop for render rows -->
    {% for obj in object_list %}
      <tr>
        <td>
          <a href={% url 'core:edit-eleccion' obj.id %}>{{obj.title}}</a>
        </td>
        <td>{{obj.date|date:"d-m-Y"}}</td>
        <td>{{obj.start_time}} hs</td>
        <td>{{obj.end_time}} hs</td>
        <td>{{obj.get_eleccion_estatus_display}}</td>
        <td><a href={% url 'core:padron-detail' obj.eleccion_padron.id %}>
          {{obj.eleccion_padron.get_slug}}
        </a></td>
        <td>{{obj.eleccion_cargo}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
